#-e git+git@bitbucket.org:point97/madrona-features.git@HEAD#egg=madrona_features-master
rpc4django
#-e /usr/local/apps/marineplanner-core/apps/madrona-features

#required for mp-visualize, which is also required (for now)
django-tinymce
django-flatblocks
#-e /usr/local/apps/marineplanner-core/apps/mp-visualize
